.button {
    width: 20px;
    height: 20px;
    -unity-font-style: bold;
    font-size: 14px;
    background-color: rgb(0, 0, 0);
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: rgb(0, 255, 0);
    border-left-color: rgb(0, 255, 0);
    border-right-color: rgb(0, 255, 0);
    border-top-color: rgb(0, 255, 0);
    border-bottom-color: rgb(0, 255, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.label1 {
}

.button:hover {
    border-left-color: rgb(124, 255, 124);
    border-right-color: rgb(124, 255, 124);
    border-top-color: rgb(124, 255, 124);
    border-bottom-color: rgb(124, 255, 124);
    background-color: rgb(24, 255, 18);
    color: rgb(0, 0, 0);
}

.button:active {
    background-color: rgb(0, 0, 0);
}

.button:disabled {
    background-color: rgb(108, 105, 105);
    color: rgb(0, 0, 0);
    border-left-color: rgb(137, 129, 129);
    border-right-color: rgb(137, 129, 129);
    border-top-color: rgb(137, 129, 129);
    border-bottom-color: rgb(137, 129, 129);
}
